.imancontainer {
    /*width:300px;*/
    /*height:200px;*/
    /*max-height: 100%;*/
    /*max-width: 100%;*/
    position:relative;
    margin:20px 0 0 0;
    background: gray;
    overflow: hidden;
}
/*.acontainer #border {
    width:300px;
    height:200px;
    border:1px red solid;
    position:absolute;
    left:0;
    top:0;
    z-index:2;
}*/
.iman{
    position:absolute;
    left:0;
    top:0;
    z-index:1;
    /*height:100%;*/
    /*width:100%;*/
}
/*#zoomin {
    position:relative;
    z-index:3;
}*/